  .selected.mago-oscuro {
    transform: scale(1.05);
    border-width: 20px; 
    border-image: url('../assets//extras/marco-seleccion-caballero.png') 30 stretch; 
  }
  
  .selected.arquero-elfo {
    transform: scale(1.05);
    border-width: 20px; 
    border-image: url('../assets/borde.selección.png') 30 stretch; 
  }
  
  .selected.caballero-noble {
    transform: scale(1.05);
    border-width: 20px; 
    border-image: url('../assets/extras/marco-seleccion-mago.png') 30 stretch; 
  }
  